# Configuração do servidor
PORT=3000
NODE_ENV=production

# Configuração do banco de dados
DB_USER=postgres
DB_PASSWORD=Teste@123
DB_HOST=https://ollzdkbldquovpmnesbi.supabase.co
DB_PORT=5432
DB_NAME=hospital_meals

# Configuração JWT
JWT_SECRET=sb_publishable_aCDH_3lcCNwOxiSx0BSffA_O9DlOHJt

# CORS (URL do frontend)
CORS_ORIGIN=https://solic_refeicao.com
